<?xml version="1.0"?>
<launch>
<arg name="predator_urdf_file" default="$(find xacro)/xacro.py '$(find dql_robot)/urdf/predator.urdf.xacro'" />
<arg name="prey_urdf_file" default="$(find xacro)/xacro.py '$(find dql_robot)/urdf/prey.urdf.xacro'" />


<group ns="prey">
  <!-- send table urdf to param server -->
 <param name="robot_description" command="$(arg prey_urdf_file)" />

  <!-- push table_description to factory and spawn robot in gazebo -->
  <node name="spawn_prey_model" pkg="gazebo_ros" type="spawn_model"
        args="$(optenv PREY_INITIAL_POSE) -urdf -param robot_description -model prey -x -1 -y -1 -Y 1.3"/>
  
<node pkg="robot_state_publisher" name="publisher_state_pub_prey" type="robot_state_publisher">
<param name="publish_frequency" type="double" value="30.0" />
</node>
</group>


<group ns="predator">

 <param name="robot_description" command="$(arg predator_urdf_file)" />


  <node name="spawn_prey_model" pkg="gazebo_ros" type="spawn_model"
        args="$(optenv PREY_INITIAL_POSE) -urdf -param robot_description -model predator -y 4 -Y -1.7"/>
  
<node pkg="robot_state_publisher" name="publisher_state_pub_predator" type="robot_state_publisher">
<param name="publish_frequency" type="double" value="30.0" />
</node>
</group>
 
</launch>
